




#mainPageTitle{

    text-align: center;
    letter-spacing: 5px;

}

#mainPageText{

    clear: both;
    padding: 10px;
    text-align: center;
    color: crimson;

    text-decoration-color: darkgoldenrod;
}

#mainPageImage{


    width: 100%;
    height: 100%;
    position: fixed;

}
img {
        display: block;
        margin-left: auto;
        margin-right: auto;

}
a{
    font-size: 20px;



}
#workbench{


    height: 750px;
    width: 1500px;
    border: 2px dotted;
}
#mainTitle{

    text-align: center;
    letter-spacing: 5px;

}
button{

    vertical-align: middle;
}
canvas {
    position: absolute;
    display: block;
    margin-top: 0px;
    top: 100px;
    left: 200px;
    margin-left: 0px;
    margin-right: 0px;
    clear: both;
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

h1{

    text-align: center;
    letter-spacing: 5px;


}
